Repository google/styleguide, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jbcoe, @tonyruscoe, @dimo414, @sfreilich, @gpshead, @eatnumber1, @vapier

Fix Testing-on-the-Toilet links
  go/index.md
Owners: none

Fix links
  go/decisions.md
Owners: none

Trivial typofix
  README.md
Owners: none

Link to the Go style guide from README.md.
  README.md
Owners: none

Internal Change.
  go/index.md
Owners: none

Internal Change.
  go/index.md
Owners: none

Fix a minor code-example bug
  go/decisions.md
Owners: none

Internal Change.
  go/best-practices.md
  go/decisions.md
  go/index.md
Owners: none

Small clarification to class docstring examples
  pyguide.md
Owners: @gpshead

Project import generated by Copybara.
  pyguide.md
Owners: @gpshead

docs(go): fix broken link to cmp.Diff documentation
  go/decisions.md
Owners: none

best-practices(go): Typo on "backend"
  go/best-practices.md
Owners: none

Internal Change.
  go/best-practices.md
  go/decisions.md
  go/index.md
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

Error print from https://github.com/cpplint/cpplint fixed
  cpplint/cpplint.py
Owners: none

Update cppguide.html
  cppguide.html
Owners: none

fix: add explicit module names
  pylintrc
Owners: @gpshead

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Project import generated by Copybara.
  pyguide.md
Owners: @gpshead

Update C++ style guide.
  cppguide.html
Owners: none

Project import generated by Copybara.
  pyguide.md
Owners: @gpshead

Update README.md
  README.md
Owners: none

Update the HTML Line-Wrapping guidance
  htmlcssguide.html
Owners: @tonyruscoe

Update the HTML Document Type guidance
  htmlcssguide.html
Owners: @tonyruscoe

The base_name should fully match the exclude_files pattern
  cpplint/cpplint.py
Owners: none

#770 Issue. Updated: decisions.md, updated: best-practices.md
  go/best-practices.md
  go/decisions.md
Owners: none

Project import generated by Copybara.
  pyguide.md
Owners: @gpshead

[IntelliJ] (Add) line comment not start at first column & add space
  intellij-java-google-style.xml
Owners: none

update ts styleguide with latest google version
  tsguide.html
Owners: none

Update intellij-java-google-style.xml
  intellij-java-google-style.xml
Owners: none

[vimscript] Update name in credits
  vimscriptfull.xml
  vimscriptguide.xml
Owners: none

Update C++ style guide.
  cppguide.html
Owners: none

Updated README.md for easy undersanding
  README.md
Owners: none

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

csharp-style.md @jbcoe
htmlcssguide.html @tonyruscoe
javaguide.html @dimo414 
lispguide.xml @sfreilich
pyguide.md @gpshead
pylintrc @gpshead
shellguide.md @dimo414 @eatnumber1 @vapier
