Repository google/styleguide, pull requests merged in 2025-04, with the labels that each got.

#849 Replaced unfamiliar words with simpler alternatives in the jsguide.
  jsguide.html
Labels: lang:js

#275 Fix nerdy reference
  docguide/style.md
Labels: lang:markdown

#753 cppguide: update obsolete protocol-buffers documentation link
  cppguide.html
Labels: lang:cpp

#921 java: update to latest
  javaguide.html
Labels: lang:java
